<div *ngIf="{myWriteAccess: writeAccessService.writeAccess$ | async} as data">
  <h2 *ngIf="userName">userName: {{userName}}</h2>
  <h2>Write access requests</h2>

  <div *ngIf="writeAccessService.writeAccess$ | async as writeAccess">
    <div>
      <button><img [src]="writeAccess.requestingUser?'/assets/icons/hourglass.svg':
    (writeAccess.writingUser === this.userName?'/assets/icons/lock-open.svg':'/assets/icons/lock-closed.svg')"
                   [alt]="writeAccess.requestingUser?'in progress':
    (writeAccess.writingUser === this.userName?'write access':'read only access')"></button>

    </div>

    <button [disabled]="writeAccess.writingUser === this.userName || writeAccess.requestingUser"
            (click)="requestWriteAccess()">request write access</button>
    <button [disabled]="writeAccess.requestingUser !== this.userName" (click)="cancelRequest()">cancel request</button>
    <button [disabled]="writeAccess.writingUser !== this.userName || !writeAccess.requestingUser" (click)="grantAccess()">grant access</button>
    <button [disabled]="writeAccess.writingUser !== this.userName || !writeAccess.requestingUser" (click)="rejectRequest()">reject request</button>

    <h2>current state:</h2>
    <p>writingUser: {{writeAccess.writingUser}}</p>
    <p>requestingUser: {{writeAccess.requestingUser}}</p>
    <p>timeNextUser: {{writeAccess.timeNextUser}}</p>
    <p>Count Down:  {{writeAccess.timeNextUser|countDown|async}}</p>
  </div>


</div>
