<h1>Prototype: {{title}}</h1>

<label for="userName">Username</label>
<input type="text" id="userName" [(ngModel)]="userName"/>
<app-write-access *ngIf="userName" [userName]="userName"></app-write-access>
